<form [formGroup]="createWineForm" xmlns="http://www.w3.org/1999/html">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput name="name" type="text"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input formControlName="description" matInput name="description" type="text"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Year</mat-label>
    <input formControlName="year" matInput name="year" type="number"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Grapes</mat-label>
    <input formControlName="grapes" matInput name="grapes" type="text"/>
    @if (createWineForm.get('grapes')?.hasError('pattern')) {
      <div>Neophodno je napisati prvo veliko slovo!</div>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Country</mat-label>
    <input formControlName="country" matInput name="country" type="text"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Region</mat-label>
    <input formControlName="region" matInput name="region" type="text"/>
    @if (createWineForm.get('region')?.touched && createWineForm.get('region')?.hasError('required')) {
      <div>Neophodno je popuniti region!</div>
    }
  </mat-form-field>
  <!--  <input type="submit" content="Create"/>-->
</form>
<div id="button">
  <button (click)="create()" matButton="filled">Create</button>
</div>
